{% extends 'base.html.twig' %}

{% block body_id 'add_review' %}

{% block main %}
    <h1>Add a Review</h1>

        {{ form_start(form) }}
        {{ form_row(form.stockId) }}
        {{ form_row(form.reviewText) }}

        <input type="submit" value="Save" class="btn btn-primary" />

        {{ form_widget(form.saveAndCreateNew, { label: 'Save and add a new review', attr: { class: 'btn btn-default' } }) }}

        <a href="{{ path('homepage') }}" class="btn btn-link">
            Back to check reviews
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
