{% extends 'base.html.twig' %}

{% block body_id 'review' %}

{% block main %}
    <h1>Reviews</h1>
    <div class="item-actions">
        <div class="btn">
          <tr>
              <a href="{{ path('criteria') }}" class="btn-link">
                  <i class="fa fa-plus"></i>Check Criteria
              </a>
          </tr>
        </div>
    </div>
    <div class="item-actions">
        <div class="btn" colspan="8">
          <tr>
              <a href="{{ path('add_review') }}" class="btn btn-sm btn-default">
                  <i class="fa fa-plus"></i>Add a review
              </a>
          </tr>
        </div>
        <div class="btn btn-sm btn-primary">
            <tr>
                <td colspan="4" align="center">Load Review CSV File</td>
                <form action="{{ path('upload_review_file') }}" method="post" enctype="multipart/form-data">
                      <input type="file" name="reviewFile" id="reviewFile">
                      <button class="fa fa-plus btn-default" type="submit">Upload</button>
                </form>
            </tr>
        </div>
        <div class="btn navbar-right" colspan="8">
              <tr>
                  <a href="{{ path('evaluate_all') }}" align="right" class="btn btn-lg btn-primary left">
                      <i class="fa fa-tint"></i>Evaluate all
                  </a>
              </tr>
        </div>
    </div>

    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th><i class="fa fa-user"></i>Stock Id</th>
                <th><i class="fa fa-user"></i>Review Id</th>
                <th><i class="fa fa-user"></i>Text</th>
                <th><i class="fa fa-user"></i>Score</th>
                <th><i class="fa fa-user"></i>Total</th>
                <th><i class="fa fa-cogs"></i>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.stockId }}</td>
                <td>{{ review.reviewId }}</td>
                <td>{{ review.reviewText }}</td>
                <td>{{ review.score }}</td>
                <td>{{ review.total }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('eval_review', { id: review.id }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-tint"></i> Evaluate
                        </a>
                        <a href="{{ path('modify_review', { id: review.id }) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-edit"></i>Modify
                        </a>
                        <a href="{{ path('delete_review', { id: review.id }) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-edit"></i>Delete
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" align="center">Not reviews added.</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />

    <div class="navigation text-center">
        {{ pagerfanta(reviews, 'twitter_bootstrap3', { routeName: 'homepage_paginated' }) }}
    </div>

{% endblock %}
