{% extends 'base.html.twig' %}

{% block body_id 'error_cvs' %}

{% block main %}
    <h4>Error loading CVS file.</h4>
    <br />
    <a href="{{ path('homepage') }}" class="btn btn-link">
        Back to check reviews
    </a>
    <a href="{{ path('criteria') }}" class="btn btn-link">
        Back to check criteria
    </a>
{% endblock %}
