{% extends 'base.html.twig' %}

{% block body_id 'add_criteria' %}

{% block main %}
    <h1>Add criteria</h1>

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.alternateNames) }}
        {{ form_row(form.positiveRemarks) }}
        {{ form_row(form.negativeRemarks) }}

        <input type="submit" value="Save" class="btn btn-primary" />

        {{ form_widget(form.saveAndCreateNew, { label: 'Save and add new Criteria', attr: { class: 'btn btn-default' } }) }}

        <a href="{{ path('criteria') }}" class="btn btn-link">
            Back to check criteria
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
