{% extends 'base.html.twig' %}

{% block body_id 'criteria' %}

{% block main %}
    <h1>Criteria</h1>
    <div class="item-actions">
        <div class="btn">
          <tr>
              <a href="{{ path('homepage') }}" class="btn-link">
                  <i class="fa fa-plus"></i>Check Reviews
              </a>
          </tr>
        </div>
    </div>

    <div class="item-actions">
        <div class="btn">
          <tr>
              <a href="{{ path('add_criteria') }}" class="btn btn-sm btn-default">
                  <i class="fa fa-plus"></i>Add criteria
              </a>
          </tr>
        </div>
        <div class="btn btn-sm btn-primary">
            <tr>
                <td colspan="4" align="center">Load Criteria CSV File</td>
                <form action="{{ path('upload_criteria_file') }}" method="post" enctype="multipart/form-data">
                      <input type="file" name="criteriaFile" id="criteriaFile">
                      <button class="fa fa-plus btn-default" type="submit">Upload</button>
                </form>
            </tr>
        </div>
    </div>
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th><i class="fa fa-user"></i>Name</th>
                <th><i class="fa fa-user"></i>Alternate Names</th>
                <th><i class="fa fa-user"></i>Positive Remarks</th>
                <th><i class="fa fa-user"></i>Negative Remarks</th>
                <th><i class="fa fa-cogs"></i>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for crit in criteria %}
            <tr>
                <td>{{ crit.name }}</td>
                <td>{{ crit.alternateNames }}</td>
                <td>{{ crit.positiveRemarks }}</td>
                <td>{{ crit.negativeRemarks }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('modify_criteria', { id: crit.id }) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-edit"></i>Modify
                        </a>
                        <a href="{{ path('delete_criteria', { id: crit.id }) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-edit"></i>Delete
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" align="center">Not criteria added.</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />

    <div class="navigation text-center">
        {{ pagerfanta(criteria, 'twitter_bootstrap3', { routeName: 'criteria_paginated' }) }}
    </div>

{% endblock %}
