{% extends 'base.html.twig' %}

{% block body_id 'modify_criteria' %}

{% block main %}
    <h1>Edit Criteria</h1>

    {{ include('form/_form.html.twig', {
        form: form,
        button_label: 'Save',
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}
